.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 20px
}

.text {
  display: flex;
  white-space: pre;
  background: var(--color-grey-1);
  border-radius: 3px;
  animation: skeleton-text .75s linear infinite;
}

@keyframes skeleton-text {
  50% {
      background: var(--color-grey-2);
  }
}