.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-grey-2);
}

.notification {
  text-transform: uppercase;
  margin-left: 15px
}

.table {
  width: 340px;
}

.isAnimated {
  animation-name: appear;
  animation-duration: 2s;
}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}